{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="col-md-7">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
      <thead>
        <tr>
          <td>ID</td>
          <td>Username</td>
          <td>Password</td>
          <td>Email</td>
          <td>Operations</td>
        </tr>
      </thead>
      <tbody>

         <tr>
          <tr>
            <td>{{ account['id']}}</td>
            <td>{{ account['username'] }}</td>
            <td>{{ account['password'] }}</td>
            <td>{{ account['email'] }}</td>
            <td>
            <a  class="btn btn-secondary">Edit</a>
            <a  class="btn btn-danger btn-delete">Delete</a>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  {% endblock %}