<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
	 <link rel="stylesheet" href="/getPlotCSS">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title> Company </title>
</head>
<body>
      
    <h1>Company</h1>
    <div class="chartCard">
        <div class="chartBox">
          <canvas id="myChart"></canvas>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js" integrity="sha512-COTaPOlz12cG4fSfcBsxZsjauBAyldqp+8FQUM/dZHm+ts/jR4AFoJhCqxy8K10Jrf3pojfsbq7fAPTb1XaVkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>      
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
          let filename = '/getPlotCSV';
          d3.csv(filename).then(function(loadedData){
            //console.log(loadedData);
            let data = [];
            let labels = [];

            for (let i = 0; i < loadedData.length; i++) {
                   console.log(loadedData[i]);
                   
                   let Datea = loadedData[i].Date;
                   labels.push(Datea);
                   let Close = loadedData[i].Close;
                   data.push(Close);
            }

            let options = {
                type: 'line',
                data:{
                    labels: labels,
                    datasets: [
                        {
                            data: data,
                            fill: false,
                            pointRadius: 0,
                            pointHoverRadius: 0,
                            borderColor: 'rgb(100,100,100)'
                        }
                    ]

                }
            };

            const myChart = new Chart(document.getElementById('myChart'), options);

          });

          
      </script>
  
  <section class="wrapper">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card text-black card-has-bg click-col" data-toggle="modal" data-target="#modal-fullscreen-xl">
                  <div class="card-img-overlay d-flex flex-column">	
                      <div class="card-body">
                          <h4 class="card-title mt-0 "><a class="text-black" herf="#">TESLA</a></h4>
                          <small><i class="far fa-clock"></i> TSLA</small>
                      </div>
                      <div class="card-footer">
                          <div class="media">
                              <img class="mr-3 rounded-circle" src="/getB" alt="Generic placeholder image" style="max-width:50px">
                              <div class="media-body">
                                  <h6 class="my-0 text-black d-block">Market Cap</h6>
                                  <small>1,097,862,336,206</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
        <div class="col-md-4">
              <div class="card text-black card-has-bg click-col" data-toggle="modal" data-target="#modal-fullscreen-xl">
                  <div class="card-img-overlay d-flex flex-column">	
                      <div class="card-body">
                          <h4 class="card-title mt-0 "><a class="text-black" herf="#">AMAZON</a></h4>
                          <small><i class="far fa-clock"></i> AMZN</small>
                      </div>
                      <div class="card-footer">
                          <div class="media">
                              <img class="mr-3 rounded-circle" src="/getB" alt="Generic placeholder image" style="max-width:50px">
                              <div class="media-body">
                                  <h6 class="my-0 text-black d-block">Market Cap</h6>
                                  <small>1,754,274,332,342</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
        <div class="col-md-4">
              <div class="card text-black card-has-bg click-col" data-toggle="modal" data-target="#modal-fullscreen-xl">
                  <div class="card-img-overlay d-flex flex-column">	
                      <div class="card-body">
                          <h4 class="card-title mt-0 "><a class="text-black" herf="#">APPLE</a></h4>
                          <small><i class="far fa-clock"></i> AAPL</small>
                      </div>
                      <div class="card-footer">
                          <div class="media">
                              <img class="mr-3 rounded-circle" src="/getB" alt="Generic placeholder image" style="max-width:50px">
                              <div class="media-body">
                                  <h6 class="my-0 text-black d-block">Market Cap</h6>
                                  <small></small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
      </div>
    </div>
    <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Company Name</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body">
          <div class="container-fluid">
          <div class="row">
                   <div class="col-md-6">
                <div class="form-group row">		
                      <label class="col-md-4"><b>Exchange</b></label>	
                       <label class="col-md-8">NASDAQ-GS</label>	
                      <label class="col-md-4"><b>Sector</b></label>	
                     <label class="col-md-8">Consumer Services</label>
                     <label class="col-md-4"><b>Industry</b></label>	
                     <label class="col-md-8">Catalog/Specialty Distribution</label>
                     <label class="col-md-4"><b>1 Year Target</b></label>	
                     <label class="col-md-8">$4,000.00</label>			   
                     <label class="col-md-4"><b>Today's High/Low</b></label>
                     <label class="col-md-8">$3,492.70/$3,426.00</label>
                     <label class="col-md-4"><b>Share Volume</b></label>	
                     <label class="col-md-8">1,941,259</label>
                     <label class="col-md-4"><b>Average Volume</b></label>	
                     <label class="col-md-8">3,253,203</label>
                       <label class="col-md-4"><b>Previous Close</b></label>
                     <label class="col-md-8">$3,492.70/$3,426.00</label>
                     <label class="col-md-4"><b>52 Week High/Low</b></label>	
                     <label class="col-md-8">$3,773.08/$2,881.00</label>
                     <label class="col-md-4"><b>Beta</b></label>	
                     <label class="col-md-8">1.13</label>
                </div>   
                </div>
                 <div class="col-md-6">
                <div class="form-group row">		
                      <label class="col-md-4"><b>Market Cap</b></label>	
                       <label class="col-md-8">1,751,307,569,480</label>	
                      <label class="col-md-4"><b>P/E Ratio</b></label>	
                     <label class="col-md-8">67.55</label>
                     <label class="col-md-4"><b>Forward P/E 1 Yr.</b></label>	
                     <label class="col-md-8">83.42</label>
                     <label class="col-md-4"><b>Earnings Per Share(EPS)</b></label>	
                     <label class="col-md-8">$51.12</label>			   
                     <label class="col-md-4"><b>Annualized Dividend</b></label>
                     <label class="col-md-8">N/A</label>
                     <label class="col-md-4"><b>Ex Dividend Date</b></label>	
                     <label class="col-md-8">N/A</label>
                     <label class="col-md-4"><b>Dividend Pay Date</b></label>	
                     <label class="col-md-8">N/A</label>
                       <label class="col-md-4"><b>Current Yield</b></label>
                     <label class="col-md-8">N/A</label>
                </div>		   
                </div>
          </div>
          </div>
                     
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
  </section>
    



</body>
</html>