{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="col-md-7">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Password</th>
          <th>Email</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
         {% for account in accounts %}
        <tr>
            <td>{{ account[0] }}</td>
            <td>{{ account[1] }}</td>
            <td>{{ account[2] }}</td>
            <td>{{ account[4] }}</td>
            <td><a href="/edit/{{ account[0] }}"> Edit</a> |
                <a onclick="return confirm('Desea eliminar la persona?')" class="btn btn-danger" href="/destroy/{{account[0]}}">Delete</a> </td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}