<h3>{{numrows}} Records Found</h3>
<section class="wrapper">
    <div class="container-fluid">
      <div class="row">
{% for row in empresa %}
   <div class="col-md-4" style="margin-top: 5%;">

            <div class="card text-black card-has-bg click-col" data-toggle="modal" data-target="#modal-fullscreen-xl">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <h4 class="card-title mt-0"><a href="/getCompany/{{ row['id_empresa'] }}"> {{row["nombre_empresa"] }}</a></h4>
                        <small><i class="far fa-clock"></i> {{row["sigla_empresa"] }}</small>

                    </div>

                    <div class="card-footer">
                        <div class="media">
                            <img class="mr-3 rounded-circle" src="/getB" alt="Generic placeholder image" style="max-width:50px">
                            <div class="media-body">
                                <h6 class="my-0 text-black d-block">Market Cap</h6>
                                <small>{{row["market_cap"] }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}
      </div>
    </div>
  </section>

